APP_ENV=dev
SERVICE_ID=webhard-service
PORT=8083
PUBLIC_BASE_URL=http://localhost:8083
ADMIN_SERVICE_BASE_URL=http://localhost:8081
WEBHARD_DB_HOST=localhost
WEBHARD_DB_PORT=5432
WEBHARD_DB_DATABASE=webhard
WEBHARD_DB_USERNAME=postgres
WEBHARD_DB_PASSWORD=postgres
TRUST_FORWARDED_HEADERS=false
